<section>
    <form>
        <div id="titulo">
            <h2>ACESSE A SUA CONTA</h2>
        </div>
    
        <div id="interacao">
            <input type="email" name="email" placeholder="EMAIL">
            <input type="password" name="senha" placeholder="SENHA">

            <button>INICIAR SESSÃO</button>
        </div>
        
        <div id="cadastro">
            <p>
                <a routerLink="/cadastro">Não é cadastrado?</a>
            </p>
        </div>
    </form>
</section>
