#titulo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div h2 {
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        white-space: nowrap;
    }
}

#imagens {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    div {
        display: flex;
        flex: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
    }

    div:nth-of-type(1) {
        background-image: url(../../../../assets/1.jpg);
        background-size: cover;
    }

    div:nth-of-type(2) {
        background-image: url(../../../../assets/2.jpg);
        background-size: cover;
    }

    div:nth-of-type(3) {
        background-image: url(../../../../assets/3.jpg);
        background-size: cover;
    }
}

#imagens::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#imagens::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media only screen and (max-device-width: 1000px) {
    #imagens div {
        background-position: center;
    }
}

@media only screen and (max-device-width: 850px) {
    #titulo div h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-device-width: 750px) {
    #titulo div h2 {
        font-size: 3.2rem;
    }
}

@media only screen and (max-device-width: 680px) {
    #titulo div h2 {
        font-size: 2.8rem;
    }
}

@media only screen and (max-device-width: 580px) {
    #titulo div h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-device-width: 520px) {
    #titulo div h2 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-device-width: 460px) {
    #titulo div h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-device-width: 400px) {
    #titulo div h2 {
        font-size: 1.8rem;
    }
}